.tab-port{
    margin-left: 30% ;
    margin-right: 30% ;
}
#head-port{
    margin-top: 50px;
    color: #37517E;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#col-port{
    text-align: center;
    
}
#img11{
   width: 355px;
   height: auto;
}
#img12{
    width: 355px;
   height: auto;
}
#img13{
    width: 355px;
   height: auto;
}
#img14{
    width: 355px;
   height: auto;
}
#img15{
    width: 355px;
   height: auto;
}
#img16{
    width: 355px;
   height: auto;
}
#img17{
    width: 355px;
   height: auto;
}
#img18{
    width: 355px;
   height: auto;
}
#img19{
    width: 355px;
   height: auto;
}